.buttons {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sheet {
    height: 792px;
    width: 612px;
    background: transparent;
    box-shadow:
        1.2px 1.3px 1.9px rgba(0, 0, 0, 0.036),
        2.9px 3.1px 4.7px rgba(0, 0, 0, 0.052),
        5.4px 5.9px 8.8px rgba(0, 0, 0, 0.064),
        9.6px 10.5px 15.6px rgba(0, 0, 0, 0.074),
        18px 19.6px 29.2px rgba(0, 0, 0, 0.087),
        43px 47px 70px rgba(0, 0, 0, 0.12);

    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 30% 70%;

    @media only screen and (min-resolution: 96dpi) {
        height: 1050px;
        width: 816px;
    }
    @media only screen and (min-resolution: 100dpi) {
        height: 1100px;
        width: 850px;
    }
    @media only screen and (min-resolution: 120dpi) {
        height: 1320px;
        width: 1020px;
    }
    @media only screen and (min-resolution: 300dpi) {
        height: 3300px;
        width: 2550px;
    }
}