.languages {
    display: flex;
    flex-direction: column;

    &__item {
        font-size: 70%;
        display: flex;
        gap: 10px;
        max-width: 100%;
        align-self: stretch;
        justify-content: space-between;

        span {
            &:last-of-type {
                text-align: right;
                color: orangered;
            }
        }
    }
}